@import url('https://fonts.googleapis.com/css2?family=Sofia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,300;0,600;0,900;1,500&display=swap');


:root {
    ---bg : #0c090a;;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background: #0c090a;
}
header {
    background: #0c090a;
}
li {
    list-style: none;
}
a {
    
    color: white;
    text-decoration: none;
}
.navbar{
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 0 24px; */
    padding: 0 7%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;  
}
.nav-branding {
    font-family: 'Sofia', cursive;
    font-size: 1.7rem;
}
.nav-link {
    color: white;
    font-size: 18px;
    padding: 6px;
    border-radius: 9px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}
.nav-link.item:hover {
    background-color: white;
    color: var(---bg);
}

.nav-link > span {
    color: white;
    font-size: 19px;
    padding: 6px;
    border-radius: 9px;
}
.nav-link > span:hover {
    background-color: white;
    color: var(---bg);
}


.hamburger {
    display: none;
    cursor: pointer;
}
.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}


/* Section Home Start */

#home {
    padding: 0 1%;
}

.banner {
   background-color: #18cfbc;
   height: 180px;
   display: flex;
   justify-content: center;
}
.banner img {
    width: 100%;
}
/* .banner h3 {
    margin-top: 40px;
}
*/
.profile{
    margin-top: -100px;
    text-align: center;
    color: white;
    font-family: 'Jost', sans-serif;
    font-weight: 600;
}
.profile img {
    border: 5px solid #0c090a;
    height: 200px;
    border-radius: 50%;
}
.profile h2 {
    font-size: 25px;
    margin-top: 3px;
    letter-spacing: 1px;
}
.profile p {
    font-size: 13px;
    margin-top: 10px;
    letter-spacing: 1px;
}


.profile .logo {
    margin-top: 7\0px;
    color: black;
    display: flex;
    justify-content: center;
}
.logo .icon {
    margin: 0 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    position: relative;
    z-index: 2;
}
.logo .icon span {
    /* height: 45px;
    width: 45px; */
    height: 35px;
    width: 35px;
    display: block;
    background: #ffffff;
    border-radius: 50px;
    z-index: 2;
    position: relative;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

.logo .icon span i {
    /* font-size: 20px; */
    /* line-height: 45px; */
    font-size: 20px;
    line-height: 35px;
}
.logo .icon .tooltip.ig {
    position: absolute;
    left: -17px;
}
.logo .icon .tooltip.fb {
    position: absolute;
    left: -16px;
}
.logo .icon .tooltip.gh {
    position: absolute;
    left: -9px;
}
.logo .icon .tooltip.tw {
    position: absolute;
    left: -7px;
}
.logo .icon .tooltip {
    top: -43px;
    position: absolute;
    background: #fff;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    font-size: 15px;
    left: -8px;
    /* padding: 10px 10px; */
    padding: 8px ;
    border-radius: 25px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s cubic-bezier(0.68, -0.55,0.265,1.55);
}
.logo .icon:hover .tooltip {
    opacity: 1;
    top: -43px;
}

.logo .icon .tooltip::before {
    position: absolute;
    content: "";
    /* height: 15px;
    width: 15px; */
    height: 10px;
    width: 10px;
    background: #fff;
    bottom: -4px;
    left: 42%;
    transform: translateX(-50%) rotate(45deg);
    
}

/* Section Home End */








/* HandPhone Start */
@media (max-width: 768px){
    .hamburger {
        display: block;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: var(---bg);
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }
    .nav-branding {
        font-size: 1.4rem;
    }
    .nav-item {
        margin: 16px 0;
    }
    .nav-menu.active{
        left: 0;
    }
    .profile img {
        height: 160px;
    }
}
/* HandPhone End */
